
.home-container {
  color: #333;
}

.features-section {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: #f9f9f9;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.feature-card {
  background-color: #333; /* Dark background for contrast */
  color: #ffffff; /* Pure white font color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  width: 300px; /* Set a fixed width for the cards */
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.feature-card h2 {
  color: #61dafb; /* Light blue for the heading */
  margin-bottom: 1rem;
}

.home-footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #1e1e1e;
  color: white;
}

/* Responsive styles */
@media (max-width: 992px) {
  .feature-card {
    width: 45%; /* Two cards per row on tablets */
  }
}

@media (max-width: 768px) {
  .features-section {
    padding: 1rem; /* Adjust padding for mobile */
  }
  .feature-card {
    width: 100%; /* One card per row on mobile */
    margin: 1rem 0; /* Adjust margin for mobile */
  }
}
